.popup {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    padding: 123px 19px 0;
}

@media (min-width: 340px) {
    .popup {
        padding: 123px 6% 0;
    }
}

@media (min-width: 450px) {
    .popup {
        padding: 123px 17% 0;
    }
}

@media (min-width: 600px) {
    .popup {
        padding: 123px 20% 0;
    }
}

@media (min-width: 920px) {
    .popup {
        padding: 123px 22% 0;
    }
}

@media (min-width: 1000px) {
    .popup {
        padding: 145px 28% 0;
    }
}

@media (min-width: 1240px) {
    .popup {
        padding: 195px 31% 0;
    }
}