.profile__edit-button {
    background-color: black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    min-width: 18px;
    min-height: 18px;
    padding: 0;
    margin: 0 0 0 10px;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media (min-width: 830px) {
    .profile__edit-button {
        min-width: 24px;
        min-height: 24px;
        margin-left: 18px;
    }
}