.header_container_wrapper {
    margin-top: 28px;
    border-bottom: 1px solid #545454;
}

@media (min-width: 400px) {
    .header_container_wrapper {
        margin-top: 32px;
    }
}

@media (min-width: 760px) {
    .header_container_wrapper {
        margin-top: 36px;
    }
}

@media (min-width: 1000px) {
    .header_container_wrapper {
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    .header_container_wrapper {
        margin-top: 45px;
    }
}