.popup__close-button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/popup/Close\ Icn.svg);
    background-position: center;
    background-size: cover;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 26px;
    width: 26px;
    padding: 0;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    right: 0;
    top: -34px;

}

.popup__close-button:hover {
    opacity: 0.6;
}

@media (min-width: 600px) {
    .popup__close-button {
        height: 40px;
        width: 40px;
    }
}