.profile_container_wrapper {
    margin: 36px 0 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 760px) {
    .profile_container_wrapper {
        margin: 40px auto 51px;
    }
}


@media (min-width: 1020px) {
    .profile_container_wrapper {
        max-width: 1120px;
    }
}

@media (min-width: 1260px) {
    .profile_container_wrapper {
        margin: 36.25px auto 47.25px;
    }
}