.element__like-button {
    background-color: #fff;
    background-image: url(../../../images/element/like.svg);
    background-position: center;
    background-size: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    min-width: 22px;
    height: 19px;
    padding: 0;
    margin-left: 20px;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.element__like-button:hover {
    opacity: 0.5;
}