.profile__info {
    font-family: inherit;
    font-style: normal;
    color: inherit;
    text-align: center;
    padding-bottom: 36px;
    width: 282px;
}

@media (min-width:760px) {
    .profile__info {
        padding-bottom: 0;
        width: 336px;
    }
}