.element {
    background-color: #fff;
    border-radius: 10px;
    width: 282px;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 760px) {
    .element {
        margin: 0;
        -ms-grid-column-align: center;
        justify-self: center;
    }
}